@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.menu-container {

    $width: 75vw;

    position: fixed;
    background: none;
    overflow: hidden;
    transition: transform 500ms, width 500ms;
    top: 0;
    right: 0;
    height: 99.99dvh;
    z-index: 5;
    width: $width;

    
    &.closed {
        width: 0;
        transform: translateX($width);

        .menu {
            padding: 0;

            > li {
                opacity: 0;
            }

        }

    }
    
    &.open {
        transform: translateX(0vw);

        .menu > li {
            opacity: 1;
        }
    }

    .menu {

        background: $darkGrey950;
        transition: all 500ms;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
        list-style: none;
        padding: 0 30px;
        margin: 0;
        gap: 30px;
        height: 100%;
        width: $width;
        top: 0;
        right: 0;
        z-index: 3;

        li {

            list-style: none;
            text-align: end;
            position: relative;
            color: $white;
            top: -120px;
            width: 100%;

            a {

                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-flow: row nowrap;
                text-transform: capitalize;
                transition: all 500ms;
                color: $white;
                font-family: $font-extra;
                font-size: 1.5rem;
                font-weight: 100;

                &a:hover {

                    gap: 2px;

                    .underline {
                        width: 10px;
                    }

                }

            }

        }

        .underline {
            width: 0;
            height: 2px;
            margin-top: 5px;
            background: $white;
            transition: all 500ms;
        }

        .logo-container {

            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: flex-end;
            text-align: end;
            font-family: $font-extra;
            font-weight: 100;
            font-size: 2rem;
            width: 100%;
            height: 120px;
            gap: 20px;

            .logo-menu {

                display: flex;
                align-items: end;
                height: 100%;
                width: 30%;

                #mapFill {
                    fill: none;
                }

                    #borderBottom {
                    fill: $white;
                }

                #borderTop {
                    fill: $white;
                }

                #middle-bar {
                    stroke: $lightRed500;
                    stroke-width: 45px;
                    z-index: 2;
                }

                #circle {
                    stroke: $white;
                    fill: $darkRed500;
                    stroke-width: 20px;
                }

                #wheat * {
                    fill: $darkRed500;
                    stroke: $white;
                    stroke-width: 10px;
                }

            }

        }

    }

}