@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.menu-container {
    
    @media only screen and (max-width: 1000px) {
        width: 99.99vw;
        
        &.closed {
            opacity: 0;
            transform: translateX(99.99vw);
        }
    
        &.open {
            transform: translateX(-99.99vw);
            opacity: 1;
        }
    }

    @media only screen and (min-width: 1001px) {
        width: 400px;

        &.closed {
            opacity: 0;
            transform: translateX(400px);
        }
    
        &.open {
            transform: translateX(-400px);
            opacity: 1;
        }
    }

    transition: transform 1000ms, opacity 500ms;
    height: 99.99dvh;
    z-index: 5;
    overflow: hidden;
    background: $white;

    .menu {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding-top: 30px;
        gap: 30px;
        height: 100%;

        > li {

            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            
            > hr {
                width: 85%;
                height: 1px;
                opacity: 1;
                margin-top: 30px;
                background-color: $lightGrey100;
            }

            > ul {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                justify-content: center;
                gap: 20px;
                width: 70%;
                > li {
                    list-style: none;
                }
            }

            a {

                text-decoration: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-flow: row nowrap;
                text-transform: capitalize;
                text-align: end;
                transition: all 500ms;
                line-height: 100%;
                letter-spacing: -0.1px;
                font-size: 20px;
                font-weight: 400;
                color: $black;
                font-family: $font-main;

                &:hover {
                    transform: translateX(-5px);
                    font-weight: 500;
                }

            }

        }

        .section-3-cnt {
            background-color: $lightGrey100;
            padding: 30px 0 50px 0;
            flex-grow: 2;
        }


    }

}