@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.menu-container {

    $width: 100vw;

    transition: transform 1000ms, opacity 500ms;
    height: 99.99dvh;
    z-index: 5;
    width: $width;
    overflow: hidden;
    background: none;

    &.closed {
        opacity: 0;
        transform: translateX($width);
    }
    
    &.open {
        transform: translateX(-$width);
        opacity: 1;
    }

    .menu {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding-top: 30px;
        gap: 30px;
        height: 100%;

        > li {

            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            > ul {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-end;
                justify-content: center;
                gap: 20px;
                width: 70%;
                > li {
                    list-style: none;
                }
            }

            a {

                text-decoration: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-flow: row nowrap;
                text-transform: capitalize;
                text-align: end;
                transition: all 500ms;
                line-height: 100%;
                letter-spacing: -0.1px;
                font-size: 20px;
                font-weight: 400;
                color: $black;
                font-family: $font-main;

                &:hover {
                    transform: translateX(-5px);
                    font-weight: 500;
                }

            }

        }

        .section-3-cnt {
            background-color: $lightGrey100;
            padding: 30px 0 50px 0;
            flex-grow: 2;
        }

        > hr {
            width: 85%;
            height: 1px;
            opacity: 1;
            background-color: $lightGrey100;
        }

    }

}