@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;


.menu-button-container {

    cursor: pointer;
    position: relative;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: end;
    transition: all 500ms;
    z-index: 10;
    padding: 0;
    height: 100%;

    &:focus {
        outline: none;
    }

    > span {
        position: absolute;
        transition: all 500ms;
        right: 35px;
    }

    .text-menu {
        &.open {
            opacity: 0;
            transform: translateX(30px);
        }
        &.closed{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .text-close {     
        &.open {
            opacity: 1;
            transform: translateX(0px);
        }
        &.closed{
            opacity: 0;
            transform: translateX(30px);
        }
    }

    .menu-button {

        max-height: 30px;
        max-width: 30px;
        transition: all 500ms;
        box-sizing: border-box;
        background: none;
        border: none;

        * {
            transition: all 500ms;
            transform-origin: center;
        }

        #cross2,
        #cross1,
        #barBottom,
        #barMiddle,
        #barTop {
            stroke: $black;
        }

        &.open{

            #cross2,
            #cross1,
            #barBottom,
            #barMiddle,
            #barTop {
                opacity: 0;
            }

            #cross2,
            #cross1 {
                opacity: 1;
            }
            
            #cross1 {
                transform: rotate(-45deg);
            }
            
            #cross2 {
                transform: rotate(45deg);
            }

        }


        &.closed {

            #cross2,
            #cross1,
            #barBottom,
            #barMiddle,
            #barTop {
                opacity: 1;
            }

            #cross2,
            #cross1 {
                opacity: 0;
                transform: rotate(0deg);
            }

        }
    }

}