@use '../../styles/fonts.scss' as *;
@use '../../styles/colors.scss' as *;

.gallery-cnt {

    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;

    .model-cnt {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        gap: 10px;
        
        &:hover {
            .model-name {
                color: $red;
            }
    
            .see-model{
                opacity: 1;
            }

            .model-photo {
                transform: scale(1.1);
            }
        }

        .model-name {
            font-family: $font-main;
            font-weight: 600;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: -0.65px;
            transition: color 0.3s ease-in-out;
        }

        .model-info{
            font-family: $font-main;
            display: grid;
            grid-template-columns: auto 1px auto;
            justify-content: center;
            font-weight: 400;
            line-height: 100%;
            gap: 10px;
            font-size: 14px;
            letter-spacing: -0.28px;

            .model-year {}

            .middle-divider{
                width: 1px;
                height: 100%;
                background-color: $black
            }
            
            .model-price {}
        }

        .model-photo {
            object-fit: none;
            max-height: 130px;
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .see-model {
            
            cursor: pointer;
            opacity: 0;
            width: 150px;
            height: 34px;
            border-radius: 40px;
            background-color: $white;
            color: $red;
            border: 2px solid $red;
            transition: opacity 0.3s ease-in-out , color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;

            &:hover {
                opacity: 1;
                border: 2px solid $black;
                color: $white;
                background-color: $black;
            }
        }

    }

}