@use '../../styles/colors.scss' as *;

.user-ui {
    
    z-index: 2;

    header {
        display: flex;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 5vw;
        gap: 2.5vw;
        width: 100%;
        height: 70px;
    }

    aside {
        display: flex;
        position: fixed;
        width: 100%;
        height: calc(100dvh - 70px);
        top: 70px;
        right: -100vw;
        z-index: 5;
    }

}
