@use '../../styles/colors.scss' as *;

.user-ui {
    
    z-index: 2;

    header {

        display: grid;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        grid-template-columns: auto auto;
        grid-template-rows: 70px 70px;
        gap: 2.5vw;
        width: 100%;

        .site-logo {
            margin-left: 5vw;
        }

        .menu-button-container {
            margin-right: 5vw;
        }

        .tabs {
            grid-row: 2;
            grid-column: span 2;
            border-bottom: 1px $lightGrey100 solid;
        }
    }

    aside {
        display: flex;
        position: fixed;
        width: 100%;
        height: calc(100dvh - 70px);
        top: 70px;
        right: -100vw;
        z-index: 5;
    }

}
