@use '../../styles/colors.scss' as *;

.user-ui {
    
    z-index: 2;

    header {

        @media only screen and (max-width: 1000px) {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 70px 70px;
            justify-content: space-between;
            
            .tabs {
                grid-row: 2;
                grid-column: span 2;
                border-top: 1px $lightGrey100 solid;
            }
        }

        @media only screen and (min-width: 1001px) {
            display: flex;
            flex-flow: row nowrap;
            gap: 50px;
            height: 70px;
            border-bottom: 1px $lightGrey100 solid;

            .tabs {
                flex-grow: 1;
            }
        }

        align-items: center;
        position: sticky;
        box-sizing: content-box;
        width: 100%;

        .site-logo {
            margin-left: 5vw;
        }

        .menu-button-container {
            margin-right: 5vw;
        }

    }

    aside {
        display: flex;
        position: fixed;
        width: 100%;
        height: calc(100dvh - 70px);
        top: 71px;
        right: -100vw;
        z-index: 5;
    }

}
