* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; 
    user-select: none; 
}