@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;

.filters-container {

    $cnt-height: 55px;
    $filters-height: 220px;
    $sort-height: 220px;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    position: relative;
    transition: height 300ms;
    height: $cnt-height;
    background: $white;

    .filters-header {

        @media only screen and (max-width: 1000px) {
            justify-content: space-between;
        }            

        @media only screen and (min-width: 1001px) {
            justify-content: flex-start;
            gap: 50px;
        }

        display: flex;
        position: relative;
        align-items: stretch;
        z-index: 2;
        padding: 20px 0;
        border-bottom: 1px $lightGrey100 solid;
        background: $white;

        button {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.08px;
            gap: 5px;
            font-family: $font-main;
            color: $darkGrey100;

            span {
                display: flex;
                padding-top: 3px;

                .chevron {
                    transition: transform 300ms;
                    transform-origin: center;

                    @media only screen and (min-width: 1001px){
                        &.filter {
                            display: none
                        }
                    }

                    &.hide {
                        transform: rotate(0deg);
                    }

                    &.show {
                        transform: rotate(180deg);
                    }

                    path {
                        stroke: $darkGrey100;
                        stroke-width: 1px;
                    }
                }
            }
        }

        .filters-desktop {

            flex-grow: 1;
            display: flex;
            flex-flow: row nowrap;
            gap: 20px;

            @media only screen and (max-width: 1000px) {
                display: none;
            }
            
            .filter-segment-btn {
                font-family: $font-main;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0.08px;
                text-align: center;
                padding: 10px 20px;
                border-radius: 18px;
                transition: all 300ms;

                &:not(.active) {
                    cursor: pointer;
                }

                &:not(.active):hover {
                    font-weight: 500;
                }

                &.active {
                    background-color: $lightGrey50;
                }
            }
        }

    }

    .sort-section {
        right: 0;
    }

    .filters-grid {
        left: 0;
    }

    .sort-section,
    .filters-grid {
        display: flex;
        position: absolute;
        overflow: hidden;
        flex-flow: column nowrap;
        top: 50px;
        width: 200px;
        z-index: 2;
        border-radius: 5px;
        transition: all 300ms;
        height: $sort-height;
        background: $white;

        &.hide {
            height: 0px;
            opacity: 0;
            padding: 0;
            pointer-events: none;
        }

        &.show {
            opacity: 1;
            height: $sort-height;
        }

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: all 300ms;
            padding: 15px 10px;
            line-height: 100%;
            border-bottom: 1px $darkGrey100 solid;

            &:last-child {
                border: none;
            }
        } 

        .active {
            background-color: $lightGrey100;
            pointer-events: none;
            cursor: default;
        }
    }

}
